body {
    background-color: #0693e3;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.headings {
    background-color: #0693e3;
    color: white;
    padding: 2%;
    text-align: center;
    border: 2px solid black;
}

th {
    background-color: black;
    color: white;
    text-align: center;
}

td {
    border: 1px solid black;
    padding: .5rem;
}

button {
    border: 1px solid black;
    padding: .5rem;
    background-color: #00295c;;
    color: white;
    border-radius: 30px;
}

button:hover {
    background-color: white;
    color: black;
}

button .hidden_button {
    display: none;
}

.container {
    border: 2px solid black;
    padding: .5rem;
    background-color: rgb(255, 255, 255);
    width: 620px;
    margin: auto;
    text-align: left;
}

.searchFields {
    border: 2px solid black;
    padding: .5rem;
    background-color: rgb(255, 255, 255);
    width: 600px;
    margin: 2px;
    text-align: left;
}

.navigation {
    align-items: left;
    margin: auto;
    margin: 2px;
}

.custom-alert {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #0208a2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.bolded {
    font-weight: bold;
}

#bookTable {
    padding: 5px;
    text-align: left;
    border-collapse: collapse;
    color: #2E2E2E;
    border: #A4A4A4;
}

#bookTable tr:hover {
    background-color: #0693e3;
    color: white;
}

#bookTable .hidden_row {
    display: none;
}

spacer {
    height: 10px;
    width: 100%;
}